# Operating system files
.DS_Store
Thumbs.db

# Python environment/compilation
__pycache__/
*.pyc
venv/
.ipynb_checkpoints/
.vscode/

# Data and Models - KEEP these files small or ignore large ones
# We only commit small datasets. For large data, instruct users to download.
# For now, let's allow small data but ignore large models
data/processed/*
models/*